<nav class="navbar sticky-top navbar-dark" style="background-color: rgb(2, 131, 131);">
    <a class="navbar-brand" href="/"><h1>Los Pintores</h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <table>
                <tr>
                    <td><a class="nav-item nav-link" href="/vangogh"><h5>Vincent Van Gogh</h5></a></td>
                    <td><a class="nav-item nav-link" href="/picasso"><h5>Pablo Picasso</h5></a></td>
                    <td><a class="nav-item nav-link" href="/vinci"><h5>Leonardo da Vinci</h5></a></td>
                    <td><a class="nav-item nav-link" href="/miguelangel"><h5>Miguel Angel</h5></a></td>
                </tr>
            </table>
        </div>
    </div>
</nav>
<main>