{{> header}}
{{> navbar}}
    <h1>Algunos de mis pintores favoritos</h1>
    <center><img src="img/appal.jpg" style="border-radius: 10px; height: 320px;"></center>
    <br>
    <p>Vincent van Gogh || Pablo Picasso || Leonado da Vinci || Miguel Ángel</p>
</main>
{{> footer}}
